Package: deepin-fcitxconfigtool-plugin-dbgsym
Source: deepin-fcitxconfigtool-plugin
Version: 4.2.41
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Deepin Packages Builder <packages@deepin.com>
Installed-Size: 4766
Depends: deepin-fcitxconfigtool-plugin (= 4.2.41)
Section: debug
Priority: optional
Description: debug symbols for deepin-fcitxconfigtool-plugin
Build-Ids: 1fb158f78aff8eeb4fbb83cf92d9262a75ca4fcd
